{% extends 'base.html.twig' %}

{% block body %}

    <!-- Site wrapper -->
    <div class="wrapper">

        {% include 'header.html.twig' %}
        <!-- =============================================== -->
        {% include 'sidebar.html.twig' %}
        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    {{ h1 }}

                </h1>

                {% include 'breadcrumb.html.twig'  with {'breadcrumb': breadcrumb} only %}

            </section>

            <!-- Main content -->
            <section class="content">

                {% include 'flashMessage.html.twig' %}
                <div id="tabs-with-hash">
                    <ul>
                        {% if isPossibleToPayByCard %}

                        <li><a href="#crediter-cb">Payer par carte</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_LEGRAIN') or (is_granted('ROLE_AGENCE') and (iduserwhopay != iduser)  )%}
                        <li><a href="#crediter">Payer par cheque, virement, espèce, ...)</a></li>
                        {% else %}
                            <li><a href="#crediter-cheque">Payer par cheque</a></li>
                            <li><a href="#crediter-virement">Payer par virement</a></li>
                        {% endif %}
                    </ul>
                    <div id="transactions">



                        {% if isPossibleToPayByCard %}

                            <div id="crediter-cb">
                                <a href="{{ urlPaiementExterne }}" class="btn btn-success">Créditer par carte bancaire et payer</a>
                                {#
                                {{ form_start(formCb) }}
                                {{ form_errors(formCb) }}
                                {{ form_end(formCb) }}
                                #}
                            </div>
                        {% endif %}
                        {% if is_granted('ROLE_LEGRAIN') or (is_granted('ROLE_AGENCE') and (iduserwhopay != iduser)  )%}
                            <div id="crediter">

                                {{ form_start(formCheque) }}
                                {{ form_errors(formCheque) }}
                                {{ form_end(formCheque) }}
                            </div>
                        {% else %}
                            <div id="crediter-cheque">
                                <p>
                                    En envoyant un chèque d'une valeur de {{ total }}€ à l'ordre de votre prestataire
                                    <br/>
                                    À l'adresse :

                                </p>
                                <address>
                                    {{ infosPaiements.cheque | raw }}
                                </address>
                                <p>
                                    Votre compte sera crédité une fois le cheque reçu et encaissé.
                                </p>
                            </div>
                            <div id="crediter-virement">

                                <p>
                                    Par virement, d'un montant de {{ total }}€<br/>
                                    {{ infosPaiements.virement | raw }}
                                </p>
                                <p>
                                    Votre compte sera crédité une fois le virement reçu.
                                </p>
                            </div>
                        {% endif %}
                    </div><!-- /#tabs -->


            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->

        {% include 'footer.html.twig' %}




    </div><!-- ./wrapper -->
{% endblock %}
