<html>
<head>

</head>
<body>
<div>
    <p>Nom :<br/> {{ data.name }}</p>
    <p>Société :<br/> {{ data.company_name }}</p>
    <p>Téléphone :<br/> {{ data.phone }}</p>
    <p>E-mail :<br/> {{ data.email }}</p>
    <div>Infos complementaires :<br/> {{ data.more }}</div>
</div>
</body>
</html>