
{% extends 'base.html.twig' %}

{% block body %}

    <!-- Site wrapper -->
    <div class="wrapper">

        {% include 'header.html.twig' %}
        <!-- =============================================== -->
        {% include 'sidebar.html.twig' %}
        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">

                {% include 'breadcrumb.html.twig'  with {'breadcrumb': breadcrumb} only %}
                <h1>
                    <img src="{{ asset('images/contact.png') }}" alt="">
                    {{  h1 }}
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                {% include 'flashMessage.html.twig' %}



                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_end(form) }}


            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->

        {% include 'footer.html.twig' %}




    </div><!-- ./wrapper -->
{% endblock %}
