{% extends 'base.html.twig' %}

{% block body %}

    <!-- Site wrapper -->
    <div class="wrapper">

        {% include 'header.html.twig' %}
        <!-- =============================================== -->
        {% include 'sidebar.html.twig' %}
        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    <img src="{{ asset('images/liste.png') }}" alt="">
                    Liste des Agences web
                </h1>

                {% include 'breadcrumb.html.twig'  with {'breadcrumb': breadcrumb} only %}

            </section>

            <!-- Main content -->
            <section class="content">
                {% include 'flashMessage.html.twig' %}
                {#
                                <div class="well">
                                    <p>
                                        <a class="btn btn-primary" href="{{ path("create-agency")  }}">
                                            <i class="fa fa-plus"></i> Ajouter une agence
                                        </a>
                                    </p>
                                </div>
                #}
                <p><a class="btn btn-lgr btn-default btn-lgr-add-agency" href="{{ path("create-agency")  }}">Ajouter une agence</a></p>

                <table class="dataTable table table-striped table-hover table-condensed" width="100%">
                    <thead>
                    <tr>
                        <th>Siret</th>
                        <th>Nom</th>
                        <th>Adresse</th>
                        <th>Téléphone de contact</th>
                        <th>E-mail de contact</th>
                        <th>site internet</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for agency in agencies %}
                        <tr>
                            <td>{{ agency.siret }}</td>
                            <td>{{ agency.name }}</td>
                            <td>{{ agency.address1 }}
                                {% if agency.address2 %}<br/>{{ agency.address2 }}{% endif %}
                                {% if agency.address3 %}<br/>{{ agency.address3 }}{% endif %}
                                <br/>
                                {% if agency.zipCode != null %}
                                    {{ agency.zipCode.name }}
                                {% endif %}
                                {% if agency.city != null  %}
                                    {{ agency.city.name }}
                                {% endif %}
                            </td>
                            <td>{{ agency.phone }}</td>
                            <td>{{ agency.email }}</td>
                            <td>{% if agency.website %}<a target="_blank" href="{{ agency.website }}">{{ agency.website }}</a>{% endif %}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-warning" href="{{ path('update-agency',{'idAgency':agency.id })}}"><i class="fa fa-pencil"></i></a>
                                    <a class="btn btn-danger" href="{{ path('delete-agency',{'idagency':agency.id })}}"><i class="fa fa-trash"></i></a>
                                </div>
                            </td>

                        </tr>

                    {% endfor %}
                    </tbody>
                </table>







            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->

        {% include 'footer.html.twig' %}




    </div><!-- ./wrapper -->
{% endblock %}
