{% extends 'base.html.twig' %}

{% block body %}

    <!-- Site wrapper -->
    <div class="wrapper">

        {% include 'header.html.twig' %}
        <!-- =============================================== -->
        {% include 'sidebar.html.twig' %}
        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                        Suppression de la boite e-mail : {{ email }}
                </h1>
                {% include 'breadcrumb.html.twig'  with {'breadcrumb': breadcrumb} only %}

            </section>

            <!-- Main content -->
            <section class="content">
                {% include 'flashMessage.html.twig' %}

          <p>Êtes-vous certain de vouloir supprimer cette boite aux lettres ?</p>

                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="row">
                    <div class="col-md-2">
                        {{ form_row(form.delete) }}

                    </div>
                    <div class="col-md-2">
                        {{ form_row(form.cancel) }}

                    </div>
                </div>


                {{ form_end(form) }}


            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->

        {% include 'footer.html.twig' %}




    </div><!-- ./wrapper -->
{% endblock %}
