{% extends 'base.html.twig' %}

{% block body %}

    <!-- Site wrapper -->
    <div class="wrapper">

        {% include 'header.html.twig' %}
        <!-- =============================================== -->
        {% include 'sidebar.html.twig' %}
        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    <img src="{{ asset('images/serveur.png') }}" alt="">
                    {{h1}}
                </h1>
                {% include 'breadcrumb.html.twig'  with {'breadcrumb': breadcrumb} only %}

            </section>

            <!-- Main content -->
            <section class="content">
                {% include 'flashMessage.html.twig' %}
                {{ form_start(form) }}
                <table class="table table-striped table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Nom de l'instance</th>
                        {#<th>Options associées</th>#}
                        <th>Date de fin</th>
                        <th>Durée</th>
                        <th>Prix sur la période (hors options)</th>
                    </tr>
                    </thead>
                    <tbody>
{#{{ dump(form.hostings) }}#}
                    {% for instField in form.hostings %}
                        <tr>
                            <td>
                                {{ arrayHeberss[loop.index0].name }}</td>
                           {# <td>
                                <ul>
                                    {%  for opt in arrayHeberss[loop.index0].options  %}
                                        <li>{{ opt }}</li>
                                    {% endfor %}
                                </ul>
                            </td>#}
                            <td>
                                {{ arrayHeberss[loop.index0].date.date | date('d/m/Y')}}
                            </td>
                            <td class="select">
                                {{ form_errors(instField) }}
                                {{ form_widget(instField) }}
                            </td>
                            <td class="line_price" data-ht="{{ arrayHeberss[loop.index0].priceHt }}">{{ (arrayHeberss[loop.index0].priceHt*12)|round(2,'common') }}€ HT</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
                {{ form_end(form) }}





                </ul>
                {#{% include 'Ndd/Nav/options.html.twig'  with {'active': 'general','ndd':ndd.name, 'type':type,'idagency':idagency,'iduser':iduser} only %}#}
            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->

        {% include 'footer.html.twig' %}



    </div><!-- ./wrapper -->

{% endblock %}
