{% extends 'base.html.twig' %}

{% block body %}

    <!-- Site wrapper -->
    <div class="wrapper">

        {% include 'header.html.twig' %}
        <!-- =============================================== -->
        {% include 'sidebar.html.twig' %}
        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">

                <h1>
                    <img src="{{ asset('images/mail.png') }}" alt="">
                    Gestion de {{ ndd }} : Liste des boites e-mails
                </h1>

                {% include 'breadcrumb.html.twig'  with {'breadcrumb': breadcrumb} only %}

            </section>

            <!-- Main content -->
            <section class="content">
                {% include 'flashMessage.html.twig' %}

                {% include 'Ndd/Nav/options.html.twig'  with {'active': 'email','ndd':ndd,'idagency':idagency,'iduser':iduser,'type':type } only %}


                <div class="row row-eq-height mt20">
                    <div class="col-md-6 flex">

                        <div class="box box-solid box-default">
                            <div class="box-header">
                                <h3 class="box-title">Informations</h3>

                            </div>

                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-4 text-center">
                                        <p>
                                            <canvas id="chartMailbox" width="150" height="150" data-used="{{  countMailbox}}" data-total="{{ maxMailbox }}"></canvas>
                                        </p>
                                        <p>Boite e-mail : {{ countMailbox }} sur {{ maxMailbox }}  autorisées</p>
                                        <p>Pourcentage d'utilisation : {{ percentMailbox }}% </p>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <p>
                                            <canvas id="chartQuotaMailbox" width="150" height="150" data-used="{{  countQuota|round(2, 'ceil')  }}" data-total="{{ maxQuota }}"></canvas>
                                        </p>
                                        <p>Quota : {{ countQuota|round(2, 'ceil') }}Go sur {{ maxQuota }}Go autorisés</p>
                                        <p>pourcentage d'utilisation : {{ percentQuota | round}} %</p>

                                    </div>

                                    <div class="col-md-4 text-center">
                                        <p>
                                            <canvas id="chartForward" width="150" height="150" data-used="{{  countForward}}" data-total="{{ maxForward }}"></canvas>
                                        </p>
                                        <p>Redirections: {{ countForward }} sur {{ maxForward }}  autorisées</p>
                                        <p>Pourcentage d'utilisation : {{ percentForward }}% </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 flex">



                        <div class="box box-solid box-default">
                            <div class="box-header">
                                <h3 class="box-title">Outils</h3>

                            </div>

                            <div class="box-body text-center">
                                <p>
                                    {% if type =='admin' %}
                                        <a class="btn-block btn btn-default btn-lgr-add-mailbox" href="{{ path("create_mailbox_admin",{'iduser':iduser,'ndd':ndd})  }}">Ajouter une boite e-mail</a>
                                    {% elseif type=="super_admin" %}
                                        <a class="btn-block btn btn-default btn-lgr-add-mailbox" href="{{ path("create_mailbox_super_admin",{'idagency':idagency,'iduser':iduser,'ndd':ndd})  }}">Ajouter une boite e-mail</a>
                                    {% else %}
                                        <a class="btn-block btn btn-default btn-lgr-add-mailbox" href="{{ path("create_mailbox_user",{'ndd':ndd})  }}">Ajouter une boite e-mail</a>
                                    {% endif %}

                                </p><p>
                                    {% if type =='admin' %}
                                        <a class="btn-block btn btn-default btn-lgr-forward-mailbox" href="{{ path("create_forward_admin",{'iduser':iduser,'ndd':ndd})  }}">Ajouter une redirection e-mail</a>
                                    {% elseif type=="super_admin" %}
                                        <a class="btn-block btn btn-default btn-lgr-forward-mailbox" href="{{ path("create_forward_super_admin",{'idagency':idagency,'iduser':iduser,'ndd':ndd})  }}">Ajouter une redirection e-mail</a>
                                    {% else %}
                                        <a class="btn-block btn btn-default btn-lgr-forward-mailbox" href="{{ path("create_forward_user",{'ndd':ndd})  }}">Ajouter une redirection e-mail</a>
                                    {% endif %}

                                </p>
                            </div>
                        </div>


                    </div><!--/ .col-md-3 -->

                    <div class="col-md-3 flex">



                        <div class="box box-solid box-default">
                            <div class="box-header">
                                <h3 class="box-title">Options</h3>

                            </div>

                            <div class="box-body text-center">
                                {#
                                    Si agence legrain ou gestionnaire autres agences. Si non on n'affiche rien.
                                #}
                                {% if afficheProduits %}
                                        {% if product.id == 1 %}
                                            <h2>{{ product.name }}</h2>
                                            <div>{{ product.longDescription }}</div>
                                            <p>{{ product.priceHT }} € HT pour un mois</p>


                                            {{ form_start(form) }}
                                            {{ form_errors(form) }}

                                            {{ form_row(form.addToCart) }}

                                            {{ form_end(form) }}

                                        {% else %}
                                            <h2>{{ product.name }}</h2>
                                            <div>{{ product.longDescription }}</div>
                                            <p>{{ product.priceHT }} € HT par Go pour un mois</p>
                                            {{ form_start(form) }}
                                            {{ form_errors(form) }}

                                            {{ form_row(form.nbGo) }}

                                            {{ form_row(form.addToCart) }}

                                            {{ form_end(form) }}
                                        {% endif %}
                                {% endif %}
                            </div>
                        </div>



                    </div><!--/ .col-md-3 -->                </div>






                <div id="tabs" class="nav nav-tabs nav-justified">
                    <ul>
                        <li><a href="#emails">Boites e-mails</a></li>
                        <li><a href="#redirections">Redirections</a></li>
                        <li><a href="#parametrage">Paramètres (imap,pop,smtp)</a></li>
                    </ul>
                    <div class="box">


                        <div class="box-body">

                            <div id="emails">
                                <table class="dataTable table table-striped table-hover table-condensed" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>taille</th>
                                        <th>Quota</th>
                                        <th>Répondeur</th>
                                        <th>Gestion par l'utilisateur</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for email in emails %}
                                        <tr>
                                            <td>{{ email.login }}@{{ ndd }}</td>
                                            <td data-order="{{ email.quota.used }}">{{( email.quota.used/1024)|round(2, 'floor')  }} Mo</td>
                                            <td data-order="{{ email.quota.granted }}">{% if email.quota.granted == 0 %}Aucun quota {% else %}{{ email.quota.granted/1024 }} Mo{% endif %}</td>
                                            <td>
                                                {% if email.responder.active  %}Activé{% endif %}
                                            </td>
                                            <td>
                                                {% if email.accountApiExist  %}Oui{% endif %}
                                            </td>
                                            <td>
                                                <div class="btn-group">
                                                    {% if type =='super_admin' %}
                                                        <a href="{{ path("update_mailbox_super_admin",{'idagency':idagency,'iduser':iduser,'ndd':ndd,'emailAddress': email.login ~'@'~ ndd})  }}" class="btn btn-warning btn-xs" title="Modifier"><i class="fa fa-pencil-square-o"></i></a>
                                                        <a href="{{ path("delete_mailbox_super_admin",{'idagency':idagency,'iduser':iduser,'ndd':ndd,'emailAddress': email.login ~'@'~ ndd})  }}" title="Supprimer" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                                                        <a href="{{ path("list_alias_mailbox_super_admin",{'idagency':idagency,'iduser':iduser,'ndd':ndd,'emailAddress': email.login ~'@'~ ndd})  }}" title="gérer les alias" class="btn btn-primary btn-xs"><i class="fa fa-arrow-circle-right"></i></a>
                                                        {% if status == 'paid' %}
                                                            {#
                                                            {% if email.responder.active  %}
                                                                <a href="{{ path("disable_responder_super_admin",{'idagency':idagency,'iduser':iduser,'ndd':ndd,'emailAddress': email.login ~'@'~ ndd})  }}" class="btn btn-danger btn-xs" title="DésGérer le répondeur">
                                                                    <span class="glyphicon glyphicon-phone-alt"></span>
                                                                </a>
                                                            {% else %}
                                                                <a href="{{ path("activate_responder_super_admin",{'idagency':idagency,'iduser':iduser,'ndd':ndd,'emailAddress': email.login ~'@'~ ndd})  }}" class="btn btn-info btn-xs" title="Gérer le répondeur">
                                                                    <span class="glyphicon glyphicon-phone-alt"></span>                                                                </a>
                                                            {% endif %}
                                                            #}
                                                            <a href="{{ path("activate_responder_super_admin",{'idagency':idagency,'iduser':iduser,'ndd':ndd,'emailAddress': email.login ~'@'~ ndd})  }}" class="btn btn-info btn-xs" title="Gérer le répondeur">
                                                                <span class="glyphicon glyphicon-phone-alt"></span>
                                                            </a>
                                                        {% endif %}

                                                    {% elseif type =='admin' %}
                                                        <a href="{{ path("update_mailbox_admin",{'iduser':iduser,'ndd':ndd,'emailAddress': email.login ~'@'~ ndd})  }}" class="btn btn-warning btn-xs" title="Modifier"><i class="fa fa-pencil-square-o"></i></a>
                                                        <a href="{{ path("delete_mailbox_admin",{'iduser':iduser,'ndd':ndd,'emailAddress': email.login ~'@'~ ndd})  }}" title="Supprimer" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                                                        <a href="{{ path("list_alias_mailbox_admin",{'iduser':iduser,'ndd':ndd,'emailAddress': email.login ~'@'~ ndd})  }}" title="gérer les alias" class="btn btn-primary btn-xs"><i class="fa fa-arrow-circle-right"></i></a>
                                                        {% if status == 'paid' %}
                                                            {#
                                                                                                                        {% if email.responder.active  %}
                                                                                                                            <a href="{{ path("disable_responder_admin",{'iduser':iduser,'ndd':ndd,'emailAddress': email.login ~'@'~ ndd})  }}" class="btn btn-danger btn-xs" title="DésGérer le répondeur">
                                                                                                                                <span class="glyphicon glyphicon-phone-alt"></span>
                                                                                                                            </a>
                                                                                                                        {% else %}
                                                                                                                            <a href="{{ path("activate_responder_admin",{'iduser':iduser,'ndd':ndd,'emailAddress': email.login ~'@'~ ndd})  }}" class="btn btn-info btn-xs" title="Gérer le répondeur">
                                                                                                                                <span class="glyphicon glyphicon-phone-alt"></span>                                                                </a>
                                                                                                                        {% endif %}
                                                                                                                        #}
                                                            <a href="{{ path("activate_responder_admin",{'iduser':iduser,'ndd':ndd,'emailAddress': email.login ~'@'~ ndd})  }}" class="btn btn-info btn-xs" title="Gérer le répondeur">
                                                                <span class="glyphicon glyphicon-phone-alt"></span>
                                                            </a>
                                                        {% endif %}

                                                    {% else %}
                                                        <a href="{{ path("update_mailbox_user",{'ndd':ndd,'emailAddress': email.login ~'@'~ ndd})  }}" class="btn btn-warning btn-xs" title="Modifier"><i class="fa fa-pencil-square-o"></i></a>
                                                        <a href="{{ path("delete_mailbox_user",{'ndd':ndd,'emailAddress': email.login ~'@'~ ndd})  }}" title="Supprimer" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                                                        <a href="{{ path("list_alias_mailbox_user",{'ndd':ndd,'emailAddress': email.login ~'@'~ ndd})  }}" title="gérer les alias" class="btn btn-primary btn-xs"><i class="fa fa-arrow-circle-right"></i></a>
                                                        {% if status == 'paid' %}
                                                            {# {% if email.responder.active  %}
                                                                 <a href="{{ path("disable_responder_user",{'ndd':ndd,'emailAddress': email.login ~'@'~ ndd})  }}" class="btn btn-danger btn-xs" title="DésGérer le répondeur">
                                                                     <span class="glyphicon glyphicon-phone-alt"></span>
                                                                 </a>
                                                             {% else %}
                                                                 <a href="{{ path("activate_responder_user",{'ndd':ndd,'emailAddress': email.login ~'@'~ ndd})  }}" class="btn btn-info btn-xs" title="Gérer le répondeur">
                                                                     <span class="glyphicon glyphicon-phone-alt"></span>
                                                                 </a>
                                                             {% endif %}#}
                                                            <a href="{{ path("activate_responder_user",{'ndd':ndd,'emailAddress': email.login ~'@'~ ndd})  }}" class="btn btn-info btn-xs" title="Gérer le répondeur">
                                                                <span class="glyphicon glyphicon-phone-alt"></span>
                                                            </a>
                                                        {% endif %}
                                                    {% endif %}
                                                    <a target="_blank" class="btn btn-default btn-xs" href="http://webmail.{{ ndd }}/?_user={{ email.login ~'@'~ ndd }}" title="Lien vers le webmail"><span class="glyphicon glyphicon-send"></span></a>
                                                </div>
                                            </td>
                                        </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div id="redirections">

                                <table class="dataTable table table-striped table-hover table-condensed" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Adresse</th>
                                        <th>Redirigé vers</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for forward in listForward %}
                                        <tr>
                                            <td>{{ forward.source }}@{{ ndd }}</td>
                                            <td>
                                                {% if forward.destinations is iterable %}
                                                    <ul class="list-unstyled">
                                                        {% for redirect in forward.destinations %}
                                                            <li>{{ redirect }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                {% else %}
                                                    {{ forward.destinations }}
                                                {% endif %}

                                            </td>

                                            <td>
                                                <div class="btn-group">

                                                    {% if type =='super_admin' %}
                                                        <a href="{{ path("update_mail_forward_super_admin",{'idagency':idagency,'iduser':iduser,'ndd':ndd,'emailAddress': forward.source ~'@'~ ndd})  }}" class="btn btn-warning btn-xs" title="Modifier"><i class="fa fa-pencil-square-o"></i></a>
                                                        <a href="{{ path("delete_mail_forward_super_admin",{'idagency':idagency,'iduser':iduser,'ndd':ndd,'emailAddress': forward.source ~'@'~ ndd})  }}" title="Supprimer" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                                                    {% elseif type =='admin' %}
                                                        <a href="{{ path("update_mail_forward_admin",{'iduser':iduser,'ndd':ndd,'emailAddress': forward.source ~'@'~ ndd})  }}" class="btn btn-warning btn-xs" title="Modifier"><i class="fa fa-pencil-square-o"></i></a>
                                                        <a href="{{ path("delete_mail_forward_admin",{'iduser':iduser,'ndd':ndd,'emailAddress': forward.source ~'@'~ ndd})  }}" title="Supprimer" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                                                    {% else %}
                                                        <a href="{{ path("update_mail_forward_user",{'ndd':ndd,'emailAddress': forward.source ~'@'~ ndd})  }}" class="btn btn-warning btn-xs" title="Modifier"><i class="fa fa-pencil-square-o"></i></a>
                                                        <a href="{{ path("delete_mail_forward_user",{'ndd':ndd,'emailAddress': forward.source ~'@'~ ndd})  }}" title="Supprimer" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                                                    {% endif %}

                                                </div>
                                            </td>

                                        </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="parametrage">
                            <h2 class="h4">Parametres POP</h2>
                            <ul>
                                <li><b>Nom du serveur :</b> pop.{{ ndd }}</li>
                                <li><b>Port :</b> Laissez par défaut 110 POP ou 995 pour POP SSL.</li>
                                <li><b>Sécurité TLS ou SSL :</b> oui (conseillé).</li>
                                <li><b>Nom d'utilisateur :</b> votre adresse email complète (y compris le @{{ ndd }})</li>
                                <li><b>Mot de passe :</b> entrez le mot de passe que vous avez défini en créant le compte mail.</li>
                            </ul>

                            <h2 class="h4">Parametres IMAP</h2>
                            <ul>
                                <li><b>Nom du serveur :</b> imap.{{ ndd }}</li>
                                <li><b>Port :</b> Laissez par défaut  143 IMAP ou 993 pour IMAP SSL).</li>
                                <li><b>Sécurité TLS ou SSL :</b> oui (conseillé).</li>
                                <li><b>Nom d'utilisateur :</b> votre adresse email complète (y compris le @{{ ndd }})</li>
                                <li><b>Mot de passe :</b> entrez le mot de passe que vous avez défini en créant le compte mail.</li>
                            </ul>

                            <h2 class="h4">Parametres SMTP</h2>
                            <ul>
                                <li><b>Nom du serveur :</b> smtp.{{ ndd }}</li>
                                <li><b>Port :</b> 25 par défaut, 587 (STARTTLS) si votre FAI filtre le port 25 (Free, Orange…), ou 465 si vous utilisez SSL. Dans tous les cas, vous pouvez essayer les trois et vous arrêter sur celui qui fonctionne.</li>
                                <li><b>Sécurité TLS ou SSL :</b> oui (conseillé). Si les différents ports ne fonctionnent pas, réessayez avec le port 25 (Sans chiffrement) et 587 (STARTTLS).</li>
                                <li><b>Nom d'utilisateur :</b> votre adresse email complète (y compris le @{{ ndd }})</li>
                                <li><b>Mot de passe :</b> entrez le mot de passe que vous avez défini en créant le compte mail.</li>
                            </ul>

                            <p class="well">
                                Si vous rencontrez malgré tout des difficultés, n'oubliez pas que vous pouvez tout à fait utiliser le SMTP de votre Fournisseur d'Accès Internet. Par exemple, si vous êtes chez free, vous pourrez utiliser smtp.free.fr, ou si vous êtes chez Orange, smtp.orange.fr. N'oubliez pas, dans ce cas, de désactiver l'authentification SMTP : les fournisseurs d'accès vous identifient automatiquement grâce à votre adresse IP de connexion.
                            </p>
                        </div>

                    </div><!-- /.box-body -->
                </div>








            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->

        {% include 'footer.html.twig' %}




    </div><!-- ./wrapper -->
{% endblock %}
